/* Commons +++++++++++++++++++++++++++++ */

.ms_container{
    border: 1px solid black;
}

.ms_card{
    border: 1px solid black;
}



/* <!-- header +++++++++++++++++++++++++++++ --> */

.ms_header{
    background-color: lightblue;
}

.ms_header-list{
    list-style-type: none;
}

.ms_hero{
    background-color: aquamarine;
}

.ms_portfolio{

}