/* Commons +++++++++++++++++++++++++++++ */

.ms_container{
    border: 1px solid black;
}

.ms_card{
    border: 1px solid black;
}

/* Backgrounds ++++++++++++++++++++++ */

.ms_bg_green {
    background-color: green;
}


/* <!-- header +++++++++++++++++++++++++++++ --> */

.ms_header{
    background-color: lightblue;
}

.ms_header-list{
    list-style-type: none;
}

/* hero  */

.ms_hero_img{
    width: 20%;
    min-width: 150px;
}

.ms_hero{
    background-color: aquamarine;
}

.ms_portfolio{

}